streamlit
langchain
langchain-groq
faiss-cpu
PyPDF2
sentence-transformers
scikit-learn
langchain-core
langchain-text-splitters
langchain-community
langchain-huggingface
Pillow
requests
numpy
